PORT=3000

FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=your-client-email
FIREBASE_PRIVATE_KEY=your-private-key
FIREBASE_AUTH_EMULATOR_HOST=emulator-host
FIRESTORE_EMULATOR_HOST=firestore-emulator-host